.drawer {
  width: 79.5%;
  height: 4.9rem;
  margin: 0 11.25rem;
  margin-top: 0.56rem;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
  color: #000000;
  align-content: center;
  padding-top: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: 0px;
  text-align: center;
  background-color: #f8fbfd;
}

p {
  cursor: pointer;
}
